* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: yekan;
  scrollbar-width: none;
}
@font-face {
  font-family: yekan;
  src: url(./font/Yekan\ Bakh\ EN\ 05\ Medium.ttf);
}
body,
input,
select,
button,
textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}
a {
  text-decoration: none !important;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1900px;
  /* max-height: 100vh; */
  overflow-x: hidden;
}
/* ----------------------------------------------------------------------Header---------------------------------------------------- */
.header {
  width: 100%;
  height: 60px;
  background-color: #143455;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 5px;
}
.nav-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
#first-nav-link {
  font-size: 30px;
  font-weight: 700;
  color: rgb(255, 113, 113) !important;
  text-shadow: 5px 6px 20px rgb(172, 42, 42);
  animation-name: logo;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}
@keyframes logo {
  from {
    transform: scale(1.5, 1.5);
    color: rgb(184, 0, 0) !important;
    text-shadow: 5px 6px 20px rgb(172, 42, 42);
  }
  to {
    transform: scale(1.1, 1.1);
    color: white !important;
    text-shadow: 1530px 2px 10px white;
  }
}
.nav-link {
  margin-right: 70px;
  font-size: 20px;
  color: white;
}
@media only screen and (max-width: 900px) {
  .header {
    height: 60px;
  }
  .nav-link {
    margin-right: 30px;
  }
  .nav-name {
    margin-right: 0px !important;
  }
}
@media only screen and (max-width: 630px) {
  .nav-name {
    display: none !important;
  }
}
@media only screen and (max-width: 400px) {
  .nav-link {
    margin-right: 10px;
  }
}
.nav-link > a {
  text-decoration: none !important;
  color: white;
}
.nav-link > a:hover {
  color: white;
  text-shadow: 1px 2px 15px white;
}
#router-link:hover {
  color: white;
  text-shadow: 1px 2px 15px white;
}
/* ------------------------------------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------Main and Footer---------------------------------------------------------------- */

.main {
  width: 100%;
  height: 100% !important;
  overflow-y: auto;
  background-color: rgba(223, 223, 223, 0.705);
  padding-bottom: 60px;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #203040;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}
/* ------------------------------------------------------------------------------------------------------------------------------------- */

/* -----------------------------------------------------------Filter Section------------------------------------------------------------ */

.filter {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgba(0, 40, 80, 0.308);
}
.filter > div {
  flex: 1;
}
.filter-sort > select {
  margin-left: 10px;
}
.filter-size > select {
  margin-left: 10px;
}
@media only screen and (max-width: 800px) {
  .filter-space {
    display: none;
  }
}
@media only screen and (max-width: 430px) {
  .filter {
    flex-direction: column;
  }
  .filter > div {
    margin-bottom: 15px;
  }
}
/* ------------------------------------------------------------------------------------------------------------------------------------- */
.shop-container {
  display: flex;
  padding: 0 !important;
}
@media only screen and (max-width: 988px) {
  .shop-container {
    flex-direction: column;
    align-items: center;
  }
  .content {
    width: 100% !important;
  }
  .sidebar {
    width: 50% !important;
  }
}
@media only screen and (max-width: 600px) {
  .sidebar {
    width: 90% !important;
  }
}
.content {
  overflow-y: auto;
  width: 75%;
}
.sidebar {
  width: 25%;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.products > li {
  list-style-type: none;
  width: 320px;
  margin-top: 20px;
  box-shadow: 0 0 15px 10px rgb(255, 255, 255);
}
@media only screen and (min-width: 1730px) {
  .products > li {
    width: 380px !important;
  }
}
.product {
  width: 100%;
}
.product > a {
  color: rgb(47, 0, 134);
  cursor: pointer;
}
.product > a:hover {
  text-decoration: none;
  color: rgb(192, 125, 0);
}

.product > a > img {
  width: 100% !important;
  height: 70% !important;
}
.product > a > p {
  padding-top: 10px;
  padding-left: 8px;
  font-size: 14px;
}

@media only screen and (max-width: 992px) {
  .product > a > p {
    font-size: 13px;
  }
}

.product-price {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-size: 22px;
}
.add-btn {
  padding-top: 10px !important;
}

.cart {
  width: 100%;
  padding: 5px;
}
.cart-header {
  border-bottom: 1px solid #c0c0c0;
  text-align: center;
  padding: 5px;
}
.cart-body {
  /* overflow-y: auto;
      height: 80vh; */
  padding-top: 5px;
}

.cart-item {
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0px !important;
}
.cart-item-image {
  width: 20%;
  flex-wrap: wrap;
  margin-right: 10px;
}
.cart-item-image img {
  width: 100%;
}
.cart-item-right {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 0;
}
.cart-item-remove {
  width: 40%;
  font-size: 12px;
  font-weight: 900;
  border: 1px solid rgb(253, 24, 24);
  border-radius: 4px;
  background: white;
  padding-top: 5px;
}
.cart-item-remove:hover {
  border: none;
  background-color: rgb(253, 24, 24);
  color: white;
  transition-duration: 0.2s;
  cursor: pointer;
}
.total {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  margin-top: 20px;
}
.payment-button {
  background-color: rgb(255, 201, 102);
  color: rgb(49, 48, 48) !important;
  border: 1px solid rgba(128, 128, 128, 0.658) !important;
  width: 40%;
  height: 5vh;
}

.payment-button:hover {
  background-color: rgb(252, 191, 78);
  cursor: pointer;
}

.form-container {
  list-style-type: none;
}
.form-container > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.form-container > li > label {
  margin-bottom: 0 !important;
}
.form-container > li > input {
  height: 40px;
  border-radius: 0px !important;
  border: 1px solid rgba(128, 128, 128, 0.452) !important;
  padding-left: 7px;
}
.checkout-button {
  height: 40px;
  background-color: rgb(255, 201, 102);
  color: rgb(49, 48, 48) !important;
  border: 1px solid rgba(128, 128, 128, 0.658) !important;
}
.checkout-button:hover {
  background-color: rgb(252, 191, 78);
  cursor: pointer;
}

.close-button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}
.close-button-container > button {
  background-color: white;
  border: none;
  color: rgb(87, 87, 87);
  font-size: 40px;
  margin-right: 30px;
  cursor: pointer;
}

.product-details {
  display: flex;
  max-height: 96vh;
  justify-content: space-around;
}
.product-details > img {
  width: 30%;
  height: 70vh;
}
.product-details-description {
  width: 60%;
}
.product-price {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}
.product-price > div {
  font-size: 28px;
}
.modal-add-button {
  width: 17%;
  height: 5vh;
  background-color: rgb(255, 201, 102);
  color: rgb(49, 48, 48) !important;
  border: 1px solid rgba(128, 128, 128, 0.658) !important;
}

.modal-add-button:hover {
  background-color: rgb(252, 191, 78);
  cursor: pointer;
}
.contact-wrapper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: rgba(0, 25, 63, 0.342);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 360px) {
  .contact-wrapper h2 {
    font-size: 20px !important;
  }
}
.contact-wrapper div {
  width: 430px;
  height: 70px;
  position: relative;
  background-color: #ffc;
  padding: 2rem;
  text-align: center;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 460px) {
  .contact-wrapper div {
    width: 300px;
    justify-content: space-between !important;
    padding: 5px !important;
  }
  .email span:first-child {
    font-size: 12px !important;
  }
  .email span:nth-child(2) {
    font-size: 16px !important;
  }
  .mobile span:nth-child(2) {
    margin-right: 5px !important;
  }
  .contact-wrapper div:nth-child(4) {
    justify-content: center !important;
  }
}
.contact-wrapper div::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 15px;
  right: 5px;
  width: 50%;
  top: 80%;
  max-width: 200px;
  box-shadow: 0px 13px 10px black;
  transform: rotate(4deg);
}
.email span:first-child {
  font-size: 16px;
}
.email span:nth-child(2) {
  font-size: 20px;
}
.mobile {
  margin: 50px 0;
}
.mobile span:first-child {
  font-size: 16px;
}
.mobile span:nth-child(2) {
  font-size: 20px;
  margin-right: 50px;
}
.git span {
  font-size: 24px;
}
.git span:hover {
  text-shadow: 2px 2px 10px black;
  cursor: pointer;
}
.git a {
  text-decoration: none !important;
  color: black;
}
.git a:hover {
  color: black;
}
.order-modal-message {
  color: rgb(0, 173, 0);
  text-align: center;
}
.ReactModal__Overlay,
.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.836) !important;
}
.final-modal {
  width: 550px !important;
  height: 70% !important;
  background-color: whitesmoke !important;
  margin-left: 30% !important;
  padding: 10px !important;
  overflow-y: auto;
  margin-top: 5% !important;
  border: 1px solid black !important;
}
@media only screen and (max-width: 1250px) {
  .final-modal {
    width: 500px !important;
  }
}
@media only screen and (max-width: 1000px) {
  .final-modal {
    width: 400px !important;
  }
  .final-modal-div strong {
    font-size: 10px;
    padding-top: 5px;
  }
}
@media only screen and (max-width: 850px) {
  .final-modal {
    width: 350px !important;
  }
}
@media only screen and (max-width: 800px) {
  .final-modal {
    margin-left: 25% !important;
    top: 10% !important;
  }
}
@media only screen and (max-width: 650px) {
  .final-modal {
    margin-left: 20% !important;
  }
}
@media only screen and (max-width: 550px) {
  .final-modal {
    margin-left: 16% !important;
  }
}
@media only screen and (max-width: 500px) {
  .final-modal {
    margin-left: 12% !important;
  }
}
@media only screen and (max-width: 450px) {
  .final-modal {
    width: 300px !important;
    font-size: 12px !important;
    margin-left: 16% !important;
  }
  .final-modal-div strong {
    font-size: 8px !important;
    padding-top: 2px !important;
  }
}
@media only screen and (max-width: 400px) {
  .final-modal {
    margin-left: 10% !important;
  }
}
@media only screen and (max-width: 360px) {
  .final-modal {
    margin-left: 7% !important;
  }
}
@media only screen and (max-width: 340px) {
  .final-modal {
    margin-left: 5% !important;
  }
}
@media only screen and (max-width: 325px) {
  .final-modal {
    margin-left: 2% !important;
  }
}
/* --------------------------------------------------------------------------------------------------- */

